
<div cdsGrid>
  <div cdsRow>
    <div cdsCol>
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div cdsRow class="mt-1">
    <div cdsCol [formGroup]="formGroup">
      <cds-combo-box
        formControlName="combobox"
        [items]="listItems"
        label="Disabled combobox"
        helperText="Click the clear button to see the value being cleared despite the combobox being disabled"
      >
        <cds-dropdown-list [items]="listItems"></cds-dropdown-list>
      </cds-combo-box>
    </div>
  </div>
  <div cdsRow class="mt-1">
    <div cdsCol>
      Control value: {{ comboboxControl.value }}
    </div>
  </div>
</div>
